body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #e1f5fe;
    color: #333;
}

header {
    background-color: #388e3c;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

.logo {
    margin-bottom: 10px;
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

nav {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #388e3c;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffeb3b;
}

main {
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 5px;
    max-width: 800px;
}

.tipo-agricultura {
    margin-bottom: 20px;
    border: 1px solid #388e3c;
    border-radius: 5px;
    padding: 10px;
    background-color: #f1f8e9;
}

h2 {
    color: #388e3c;
    border-bottom: 2px solid #388e3c;
    padding-bottom: 5px;
}

.imagem-secao {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #388e3c;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
}
